/* Prevent the auto scrolling when focus on input */
html,
body {
  -webkit-overflow-scrolling: touch !important;
  overflow: auto !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* General */
#wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  padding: 10px;
  box-sizing: border-box;
  padding-bottom: 100px;
}

.centeralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

#centerbox {
  animation: max-sizing 0.7s forwards 1s;
  width: 100%;
  overflow: hidden;
}

@keyframes max-sizing {
  from {
    height: 0px;
  }
  to {
    height: 300px;
  }
}

.codebox {
  background-color: #252a33;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.codebox .header {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.codebox .header .title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.codebox .header .title p {
  color: #ccc;
  font-weight: bold;
}

.codebox .header .button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.codebox .header .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.red {
  background-color: #d9515d;
}

.yellow {
  background-color: #f4c025;
}

.green {
  background-color: #3ec930;
}
